@model AspnetCoreMvcFull.Models.Rfid

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rfid</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoRfid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoRfid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlumnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAlumnoNavigation.IdAlumno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRfid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
